@model IEnumerable<MyMvcApp.Models.Classroom>

@{
    ViewData["Title"] = "Аудиторії";
}

<h2>Список аудиторій</h2>

<a asp-action="Create" class="btn btn-success mb-3">Додати аудиторію</a>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Номер</th>
        <th>Будівля</th>
        <th>Вмістимість</th>
        <th>Обладнання</th>
        <th>Дії</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var classroom in Model)
    {
        <tr>
            <td>@classroom.Number</td>
            <td>@classroom.Building</td>
            <td>@classroom.Capacity</td>
            <td>@classroom.Equipment</td>
            <td>
                <a asp-controller="EditClassroom" asp-action="Edit" asp-route-id="@classroom.Id" class="btn btn-warning">Редагувати</a>
            </td>
        </tr>
    }
    </tbody>
</table>
