@model IEnumerable<MyMvcApp.Models.Classroom>

@{
    ViewData["Title"] = "Аудиторії";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Список аудиторій</h2>
    <a class="btn btn-success" asp-action="Add">Додати</a>
</div>


<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Номер</th>
        <th>Будівля</th>
        <th>Вмістимість</th>
        <th>Обладнання</th>
        <th>Дії</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var classroom in Model)
    {
        <tr>
            <td>@classroom.Number</td>
            <td>@classroom.Building</td>
            <td>@classroom.Capacity</td>
            <td>@classroom.Equipment</td>
            <td>
                <a asp-controller="EditClassroom" asp-action="Edit" asp-route-id="@classroom.Id" class="btn btn-warning">Редагувати</a>
            </td>
        </tr>
    }
    </tbody>
</table>
